.col-article {
  width: 50%;
  margin-bottom: 65px;
}

.article__img {
  display: block;
  height: 300px;
  background-color: #000;
}

.article__body {
  background-color: #0e0e0e;
  padding: 40px;
}

.article__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
}

.article__date {
  opacity: 0.6;
  font-size: 0.9rem;
  margin-bottom: 1.7rem;
  color: #ffffff;
}

.article__text {
  font-size: 1rem;
  color: #ffffff;
}
